<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.ShopMapper">
	
	<select id="getDatas" resultType="shop">
		select * from shop
		<if test='filter != null and filter != ""'>
		 where filtercat IN
		<foreach item="item" index="index" collection="filterItems" open="(" separator="," close=")">
		#{item}
		</foreach>
	</if>
	</select>

</mapper>